html, body{
    font-family: quicksand;
     height: 100%;
}
.container{
    height: 100%;
}
header{
    display: block;
    background-color: rgb(51, 51, 51);
    color: rgb(169, 169, 169);
    height: 10%;
    width: 107.1%;
    margin-top: -20px;
    margin-left: -82px;
}
h3{
    font-family: muli;
    letter-spacing: 2px;
    font-weight: lighter;
    color: rgb(169, 169, 169);
    margin-left: 8.7%;
    font-size: larger;
}
.mt{
    padding-top: 17px;
}
ul{
    list-style-type: none;
    display: flex;
    margin-left: 68%;
    margin-top: -50px;
}
li a{
    display: block;
    text-decoration: none;
    color: rgb(169, 169, 169);
    margin-left: 48px;
    font-size: 12px;
    letter-spacing: 2px;
}
li a:hover{
    color: rgb(182,160,149);
}
.bp{
    width: 101.1%;
    height: 75%;
    background-image: url('https://img1.wsimg.com/isteam/stock/7540/:/rs=w:767,m');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -8px;
    margin-right: auto;
    background-position: 40% 60%;
}
.firstsec{
    background-color: rgb(182,160,149);
    width: 101.1%;
    margin-left: -8px;
    margin-top: -37px;
    height: 37%;
    text-align: center;

}
section h1{
    font-family: muli;
    font-weight: lighter;
    height: 25%;
    font-size: 44px !important;
    color: rgb(22, 22, 22);
    text-align: center;
    padding-top: 56px;
}
section p{
    text-align: center;
    margin-top: -5px;
}
.bnf{
    justify-content: center;
    border: 1px solid black;
    background-color: transparent;
    font-weight: bold !important;
    font-size: 12px;
    letter-spacing: 2px;
    font-family: quicksand;
    color: rgb(22, 22, 22) !important;
    width: 178px;
    height: 52px;
}
.mid1{
    text-decoration: none;
    color: rgb(22, 22, 22);
}
.before1{
    border-top: 1px solid !important;
    height: 3.4px;
    width: 18px;
    font-family: quicksand;
    text-decoration: none;
    color: rgb(22, 22, 22) !important;
    margin-right: 8px;
    display: inline-block;
    content: "";
    box-sizing: inherit;
}
.after1{
    border-top: 1px solid !important;
    width: 18px;
    font-family: quicksand;
    text-decoration: none;
    color: rgb(22, 22, 22) !important;
    height: 3.4px;
    display: inline-block;
    content: "";
    margin-left: 8px;
    box-sizing: inherit;
}
.bnf:hover{
    background-color: rgb(190, 190, 190);
    color: #ffffff !important;
}
